In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [7]:
names=['Alice', 'Bob', 'Charlie']

names[-1]="zaid"
print(names)

['Alice', 'Bob', 'zaid']

In [8]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list[0:5])  # First five elements
print(list[5:])   # Last five elements
print(list[::2])  # Every second element
print(list[::-1])  # Reversed list
print(list[-1])  # Last element
print(list[-2])  # Second to last element
list.append(11)  # Adding an element to the end
print(list)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
10
9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:

for index,number in enumerate(list):
    print(f"Index: {index}, Number: {number}")

Index: 0, Number: 1
Index: 1, Number: 2
Index: 2, Number: 3
Index: 3, Number: 4
Index: 4, Number: 5
Index: 5, Number: 6
Index: 6, Number: 7
Index: 7, Number: 8
Index: 8, Number: 9
Index: 9, Number: 10
Index: 10, Number: 11

In [12]:
[x**2 for x in range(100)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [13]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
lst=[]
for i in range (10):
    i%2==0
    lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
even_numbers = [i for i in range(10) if i % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [19]:
lst1 =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst2 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
pairs =[[i,j] for i in lst1 for j in lst2]
print(pairs)

[[1, 11], [1, 12], [1, 13], [1, 14], [1, 15], [1, 16], [1, 17], [1, 18], [1, 19], [1, 20], [2, 11], [2, 12], [2, 13], [2, 14], [2, 15], [2, 16], [2, 17], [2, 18], [2, 19], [2, 20], [3, 11], [3, 12], [3, 13], [3, 14], [3, 15], [3, 16], [3, 17], [3, 18], [3, 19], [3, 20], [4, 11], [4, 12], [4, 13], [4, 14], [4, 15], [4, 16], [4, 17], [4, 18], [4, 19], [4, 20], [5, 11], [5, 12], [5, 13], [5, 14], [5, 15], [5, 16], [5, 17], [5, 18], [5, 19], [5, 20], [6, 11], [6, 12], [6, 13], [6, 14], [6, 15], [6, 16], [6, 17], [6, 18], [6, 19], [6, 20], [7, 11], [7, 12], [7, 13], [7, 14], [7, 15], [7, 16], [7, 17], [7, 18], [7, 19], [7, 20], [8, 11], [8, 12], [8, 13], [8, 14], [8, 15], [8, 16], [8, 17], [8, 18], [8, 19], [8, 20], [9, 11], [9, 12], [9, 13], [9, 14], [9, 15], [9, 16], [9, 17], [9, 18], [9, 19], [9, 20], [10, 11], [10, 12], [10, 13], [10, 14], [10, 15], [10, 16], [10, 17], [10, 18], [10, 19], [10, 20]]

In [20]:
to_do_list= ['Buy groceries', 'Clean the house', 'Pay bills']

to_do_list.append('Walk the dog')
print(to_do_list)
to_do_list.insert(1, 'Call mom')
if 'Clean the house' in to_do_list:
    print("reminder to clean the house")
print(to_do_list)
for task in to_do_list:
    print(task)

['Buy groceries', 'Clean the house', 'Pay bills', 'Walk the dog']
reminder to clean the house
['Buy groceries', 'Call mom', 'Clean the house', 'Pay bills', 'Walk the dog']
Buy groceries
Call mom
Clean the house
Pay bills
Walk the dog

In [21]:
grades = [85, 90, 78, 92, 88]
average = sum(grades) / len(grades)
print(f"Average grade: {average}")

highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest grade: {highest_grade}")
print(f"Lowest grade: {lowest_grade}")

Average grade: 86.6
Highest grade: 92
Lowest grade: 78

In [22]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [25]:

numbers=tuple([1, 2, 3, 4, 5])
numbers

(1, 2, 3, 4, 5)

In [27]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [29]:
numbers[1]

2

In [30]:
print(numbers.count(2))  # Count occurrences of 2
print(numbers.index(3))  # Find index of 3
print(mixed_tuple[1])  # Access second element

1
2
Hello

In [31]:
my_set={1,2,3,4,5}
print(type(my_set))

<class 'set'>

In [33]:
my_set={1, 2, 3, 4, 5}
print(3 in my_set)  # Check if 3 is in the set
print(10 in my_set)

True
False

In [ ]:
set1={1, 2, 3}
set2={3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Union of set1 and set2

SyntaxError: cannot assign to attribute here. Maybe you meant '==' instead of '='? (2328074759.py, line 5)

In [38]:
def function_name(parameters):
    """Docstring"""
    #Function body
    return result

In [39]:
num =21
if num%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [42]:
def even_or_odd(num):
    """Check if a number is even or odd."""
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
    
num = 42

In [44]:
even_or_odd(24)

'Even'

In [46]:
def add(a,b):
    return a + b
def sub(a,b):
    return a - b
    

result = add(5, 10)
result_sub = sub(10, 5)
print(f"The difference between 10 and 5 is: {result_sub}")
print(f"The sum of 5 and 10 is: {result}")

The difference between 10 and 5 is: 5
The sum of 5 and 10 is: 15

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1832911007.py, line 3)

In [50]:
def greet(name="guest"):
    """Greet a person by name."""
    return f"Hello, {name} welcome to our hotel room!"
print(greet("zaid"))  # Default name

Hello, zaid welcome to our hotel room!

In [60]:
def items(data1,data2,data3):
    """Display items."""
    name = data1.get("name", "Unknown")
    age = data1.get("age", "Unknown")
    name = data2.get("name", "Unknown")
    age = data2.get("age", "Unknown")
    name = data3.get("name", "Unknown")
    age = data3.get("age", "Unknown")
    return f"Name: {name}, Age: {age}"

# Example usage
data1 = {"name": "zaid", "age": 21}
data2 = {"name": "zaidvhfn", "age": 22}
data3 = {"name": "zaidsjndjfd", "age": 231}
print(items(data1, data2, data3))

Name: zaidsjndjfd, Age: 231

In [61]:
def print_numbers(*args):
    """Print numbers."""
    for num in args:
        print(num)

In [62]:
print_numbers(1, 2, 3, 4, 5)  # Example usage

1
2
3
4
5

In [63]:
def print_numbers_with_keyword(**kwargs):
    """Print numbers with keyword arguments."""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [65]:
print_numbers_with_keyword(name="zaid", age=22, c=3)  # Example usage

name: zaid
age: 22
c: 3

In [66]:
def print_detils(*args, **kwargs):
    for val in args:
        print(f"postition: {val}")
    for key, value in kwargs.items():
        print(f"keyword: {key}, value: {value}")

print_detils(1, 2, 3, name="zaid", age=22, c=3)  # Example usage

postition: 1
postition: 2
postition: 3
keyword: name, value: zaid
keyword: age, value: 22
keyword: c, value: 3

In [67]:
def multiply(*args):
    """Multiply all numbers."""
    result = 1
    for num in args:
        result *= num
    return result

In [68]:
multiply(2,34)

68

In [69]:
def convert_temp(tmep,unit):
    """Convert temperature between Celsius and Fahrenheit."""
    if unit.lower() == 'c':
        return (tmep * 9/5) + 32  # Celsius to Fahrenheit
    elif unit.lower() == 'f':
        return (tmep - 32) * 5/9  # Fahrenheit to Celsius
    else:
        raise ValueError("Unit must be 'C' or 'F'")

In [72]:
convert_temp(33, 'C')  # Convert 100°C to Fahrenheit
convert_temp(100, 'F')  # Convert 100°F to Celsius

37.77777777777778

In [73]:
def is_strng_password(password):
    """Check if the password is strong."""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    return True

In [74]:
is_strng_password("Zaid1234")  # Example usage

True

In [76]:
def calculate_total_cost(cart):
    """Calculate the total cost of items in the cart."""
    total_cost = 0
    for item in cart:
        total_cost += item['price'] * item['quantity']
    return total_cost
cart = [
    {'name': 'Apple', 'price': 0.5, 'quantity': 4},
    {'name': 'Banana', 'price': 0.3, 'quantity': 6},
    {'name': 'Orange', 'price': 0.8, 'quantity': 3}
]
total_cost = calculate_total_cost(cart) 
print(f"Total cost of items in the cart: ${total_cost:.2f}")

Total cost of items in the cart: $6.20

In [77]:
def is_palindrome(s):
    """Check if a string is a palindrome."""
    s = s.lower().replace(" ", "")  # Normalize the string
    return s == s[::-1]  # Check if the string is equal to its reverse
print(is_palindrome("a man plan a canal panama"))  # Example usage

False

In [82]:
def count_word_frequency(file_path):
    """Count the frequency of words in a text file."""
    word_count = {}
    with open(file_path, 'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?";:()[]{}')  # Normalize the word
                word_count[word] = word_count.get(word, 0) + 1  # Count the word
    return word_count
filepath='sample.txt'
word_frequncy= count_word_frequency(filepath)
print(word_frequncy)

{'my': 2, 'name': 1, 'is': 2, 'zaid': 1, 'and': 1, 'borther': 1, 'abdul': 1, 'hadi': 1}

In [83]:
addition=lambda a, b: a + b
subtraction = lambda a, b: a - b
multiplication = lambda a, b: a * b

print(f"Addition: {addition(5, 3)}")
print(f"Subtraction: {subtraction(5, 3)}")
print(f"Multiplication: {multiplication(5, 3)}")

Addition: 8
Subtraction: 2
Multiplication: 15

In [85]:
def my_list():
    return sum(my_list)
my_list([1,2,3,4,5])
print(my_list)  # Example usage

TypeError: my_list() takes 0 positional arguments but 1 was given

In [86]:
def find_larges(lst):
    largest=lst[0]
    for num in lst:
        if num > largest:
            largest = num
    return largest
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = find_larges(my_list)
print(f"The largest number in the list is: {result}")

The largest number in the list is: 10

In [88]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8,8,9, 9, 10]

unique_list=[]
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print(f"Unique list: {unique_list}")

Unique list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
import math
math.sqrt(16)

4.0

In [91]:
from math import sqrt,pi
print(sqrt(16))  # Example usage
print(pi)  # Example usage

4.0
3.141592653589793

In [94]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print (arr) # Example usage

[1 2 3 4 5]

In [95]:
from math import *
print(sqrt(16))  # Example usage   
print(pi)  # Example usage
import random
print(random.randint(1, 10))  # Random integer between 1 and 10

4.0
3.141592653589793
7

In [101]:
from package.maths import addition# type: ignore
result_add = add(5, 10)
print(f"The sum of 5 and 10 is: {result_add}")
result_sub = sub(10, 5)

The sum of 5 and 10 is: 15

In [102]:
import os
print(os.getcwd())  # Get current working directory

c:\Users\USER\OneDrive\Desktop\Python\venv

In [103]:
os.mkdir('new_directory')  # Create a new directory

In [105]:
import shutil
shutil.copy('source.txt', 'destination.txt')  # Copy a file

'destination.txt'

In [106]:
import json
data = {'name': 'Alice', 'age': 30}
json_string = json.dumps(data)  # Convert dictionary to JSON string
data_loaded = json.loads(json_string)  # Convert JSON string back to dictionary

In [108]:
print(json_string)  # Example usage

{"name": "Alice", "age": 30}

In [109]:
import csv
with open('data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age'])
    writer.writerow(['Alice', 30])  
with open('data.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)  # Print each row in the CSV file

['Name', 'Age']
['Alice', '30']

In [110]:
with open('sample.txt','r') as file:
    content = file.read()  # Read the entire file
    print(content)  # Print the content of the file

my name is zaid
and my borther is abdul hadi

In [116]:
### read a file line by line
with open('source.txt', 'w') as file:
    file.write("Hello, World!\n")
   
       # Print each line without extra spaces

In [117]:
with open('sample.txt','a') as file:
    file.write("\nThis is an appended line.")  # Append a line to the file

In [119]:
class car:
    pass
audi=car()
BMW=car()
print(type(audi))
print(audi)

<class '__main__.car'>
<__main__.car object at 0x000002626A356C60>

In [121]:
audi .windows=4
BMW .windows=2
print(audi .windows)
print(BMW .windows)

4
2

In [127]:
class Dog:
    ##Constructor
    def __init__(self,name,age,breed):
        self.name = name
        self.age = age
        self.breed=breed
## create objects
dog1=Dog("Buddy", 3,"bulldog")
dog2=Dog("Max", 5,"vodofone")
print(f"{dog1.name} is {dog1.age} years old. and is a {dog1.breed}.")
print(f"{dog2.name} is {dog2.age} years old.")

Buddy is 3 years old. and is a bulldog.
Max is 5 years old.

In [133]:
class Dog:
    """Dog class."""
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed

    def bark(self):
        return f"{self.name} says Woof!"

dog1 = Dog("Buddy", 3, "Bulldog")
dog1.bark()  # Example usage of the bark method
dog2 = Dog("Max", 5, "Vodafone")

In [135]:
class Bank_acc:
    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance
    
    def deposit(self, amount):
        """Deposit money into the account."""
        if amount > 0:
            self.balance += amount
            return f"Deposited {amount}. New balance: {self.balance}"
        else:
            return "Deposit amount must be positive."
        
    def withdraw(self, amount):
        """Withdraw money from the account."""
        if amount > 0 and amount <= self.balance:
            self.balance -= amount
            return f"Withdrew {amount}. New balance: {self.balance}"
        else:
            return "Insufficient funds or invalid withdrawal amount."
    
    def get_balance(self):
        """Get the current balance."""
        return f"Current balance: {self.balance}"
# Example usage
account = Bank_acc("Zaid", 1000)

In [136]:
account.deposit(500)  # Deposit money
print(account.get_balance())  # Get current balance

Current balance: 1500

In [137]:
account.withdraw(200)  # Withdraw money 
print(account.get_balance())  # Get current balance

Current balance: 1300